@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Edu+SA+Beginner&family=Lato&family=Lumanosimo&family=Noto+Sans+Nag+Mundari&display=swap');

.titulo1{
    background-color:blueviolet;
    font-size: 2rem;
    color: white;
    justify-content: center;
    font-family: 'Borel', cursive;
}
.titulo2{
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}
.titulo3{
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}
.contenedor{
    display: flex;
    justify-content: center;
}
button{
    background-color:transparent;
    color: azure;
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}
button:hover{
    background-color: black;
}
body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 50%, #ffffff 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.table{
    border: collapse;
}
.table.td{
    border: 1px solid;
    text-align: center;
}
.table th{
    background-color: coral;
    color: white;
}
.table td:hover{
    background-color: lightseagreen;
    color: white;
}
.table th:hover{
    background-color: lightyellow;
    color: blueviolet;
}
.td{
    font-weight: bold;
}
caption{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}